#background{
background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-image:url("https://wallpapercave.com/wp/jnETzbZ.jpg");
    overflow-x:hidden;

}

.title {
  font-weight: bold;
}

#refresh{
cursor:pointer

}